@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-brand-red: #E50914;
  --color-brand-indigo: #6366F1;
  --color-bg-main: #0B0B0F;
  --color-bg-surface: #141414;
}

.glass {
  background: rgba(10, 10, 15, 0.75);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}



.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}